
#dreamTitle {
font-family:Arial,Helvetica,sans-serif;
font-style:italic;
font-weight:bold;
font-size:36pt;
background:transparent;
border:none;
padding:0cm
}

p.ieTitle2 {
font-family:Arial,Helvetica,sans-serif;
font-weight:normal;
font-size:24pt;
text-align:center;
background:transparent;
border:none;
padding:0cm
}

p.ieTitle3 {
font-family:Arial,Helvetica,sans-serif;
font-weight:normal;
font-size:18pt;
text-align:center;
background:#47b8b8;
border:none;
padding:0cm
}

.ieBareTblCell {
border: none; 
text-align:center;
vertical-align:middle;
padding:0cm
}

.ieScTblHdrCell {
font-family:Arial,Helvetica,sans-serif;
border: none; 
text-align:left;
vertical-align:middle;
height:24pt;
padding: 0cm
}

.ieDescCell {
font-family:Arial,Helvetica,sans-serif;
border: none; 
text-align:left;
vertical-align:middle;
height:24pt;
font-size:12pt;
padding: 0cm
}

input.StopButton {
    background-image: url("/static/images/StopIcon.png"); /* 64px x 64px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height:32px;            /* make this the size of your image */
    width:32px;             /* make this the size of your image */
    padding-left: 0px;      /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    align:left;
}

input.IngestButton {
    background-image: url("/static/images/IngestIcon.png");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height:32px;            /* make this the size of your image */
    width:32px;             /* make this the size of your image */
    padding-left: 0px;      /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    align:left;
}

input.EditButton {
    background-image: url("/static/images/EditIcon.png");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height:32px;            /* make this the size of your image */
    width:32px;             /* make this the size of your image */
    padding-left: 0px;      /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    align:left;
}

input.DeleteButton {
    background-image: url("/static/images/DeleteIcon2.png");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height:32px;            /* make this the size of your image */
    width:32px;             /* make this the size of your image */
    padding-left: 0px;      /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    align:left;
}
