{% extends "base.html" %}

{% block title %}
<P ALIGN=CENTER STYLE="background: #47b8b8"><FONT FACE="UniversS 67 CondensedBold"><FONT SIZE=6 STYLE="font-size: 22pt">Add local product</FONT></FONT></P>
{% endblock %}

{% block content %}

{% if form.errors %}
  <p style="color: red;">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
 
<!--malcala: please observe the enctype property below in the form header -->
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
  <table>{{ form.as_table }}</table>
  <input type="submit" value="Upload product">
</form>

{% endblock %}
