{% extends "base.html" %}
{% load staticfiles %}
{% load dajaxice_templatetags %}


{% block head %}

    <!-- link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script -->

    {% dajaxice_js_import 'nocsrf' %}

	<script>

        function create_userscript_submit_form(file_type,script_name,script_path) {
            return '<table><tr><th><label for="id_script_name">Script name:</label></th><td><input id="id_script_name" type="text" name="script_name" value="'+ script_name + '" maxlength="50" disabled/></td><th><label for="id_script_file">Script file:</label></th><td><input type="' + file_type + '" name="script_file" id="id_script_file" value="' + script_path + '"/></td></tr></table>';
        }

        status = "show"

         function get_cookie(cname){
            var n = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++)
            {
                var c = ca[i].trim();
                if (c.indexOf(n)==0) return c.substring(n.length,c.length);
            }
            return "";
         }

         function set_cookie(cname,val){
             var d = new Date();
             d.setTime(d.getTime()+(5*365*24*60*60*1000));  // 5 yrs
             var expires = "expires="+d.toGMTString();
             document.cookie = cname + "=" + val + "; " + expires;
         }

/*
         $(document).ready(function() {
            $("#button_submit_2").hide();
            $("#button_submit_1").hide();
        });


        $(document).ready(function(){
            $(".ConfigButton").live('click',function(){
				var button_state = $(this).attr("info-state");
				var id_button = $(this).attr("id");

				if (button_state=="disable" && status=="show"){
					$(this).attr("info-state","enable");
					$(this).attr("value","Save");
                    status = "edit"

					if (id_button=="button_user_config1"){
                        $("#div_user_config1").html(create_userscript_submit_form("file","{{product_script.script_name}}","{{product_script.script_path}}"));
                        $("#button_submit_1").show();
                        $("#button_user_config1").hide();
					}else if (id_button=="button_user_config2"){
                        $("#div_user_config2").html(create_userscript_submit_form("file","{{product_script.script_name}}","{{product_script.script_path}}"));
                        $("#button_submit_2").show();
                        $("#button_user_config2").hide();
                    }
				}
            });
		});
*/

        first_time = 1
        log_message_type = 'INFO';
        max_log_lines = '';

        function show_logging(data){
            messages = data.message;
            var logtable = '<table class="ieTblShaded">';
            for (var i=0; i<messages.length; i++) {
                logtable += '<tr>' 
                switch (messages[i].length) {
                case 0:
                    break;
                case 1:
                    logtable +=
                        '<td>&nbsp;</td>' +
                        '<td colspan=3>' + messages[i][0] + '</td>';
                    break;
                case 2:
                    logtable +=
                        '<td>' + messages[i][0] + '&nbsp;</td>' +
                        '<td>' + messages[i][1] + '</td>';
                    break;
                default:
                    logtable +=
                        '<td>' + messages[i][0] + '&nbsp;</td>' +
                        '<td>' + messages[i][1] + '</td>' +
                        '<td>' + messages[i][2] + '&nbsp;</td>' +
                        '<td>' + messages[i][3] + '</td>';
                }
                logtable += '</tr>';
            }
            logtable = logtable + '</table>';
            document.getElementById('div_logging').innerHTML = logtable;
        }

        read_logging = function(){
            inpt = document.getElementById('input_n_lines');
            if (inpt) { maxll=$('#input_n_lines').val();}
            if (maxll != max_log_lines) {
                max_log_lines = maxll;
                set_cookie("nloglines", maxll);
            }
            Dajaxice.ingestion.read_logging(
                show_logging,
                {'message_type' : log_message_type,
                 'max_log_lines': maxll} );
        }


        function init_log_display() {
            if (first_time==1) {
                read_logging();
                first_time = 0;
                window.setInterval(read_logging, 3000);  // every n milliseconds
            }
        }

        window.onload=function(){
            maxll = get_cookie("nloglines");
            if (maxll != "") { max_log_lines = maxll; }
            init_log_display()
        };

/*
        $(document).ready(
            function() {
                init_log_display()
            });
*/
	</script>


{% endblock %}



{% block title %}

<P class="ieTitle3">Configuration</P>
{% endblock %}

{% block content %}


<!-- p><a href="/account/logout/"> LOGOUT </a></p -->

<!-- form method="post" action="account/configuration/" enctype="multipart/form-data">{% csrf_token %}
<h1>Add Product Script</h1>


<div id="div_user_config1">

    {% if product_script %}

    <a href="{{ MEDIA_URL}}{{product_script.script_file}}">Add Product Script</a>

    {% else %}

     <table>
         <tr>
             <th><label for="id_script_name1">Script name:</label></th>
             <td><input id="id_script_name1" type="text" name="script_name" value="{{product_script.script_name}}" maxlength="50" disabled/></td>
             <th><label for="id_script_file1">Script file:</label></th><td><input type="text" name="script_file" id="id_script_file1" value="{{product_script.script_path}}" disabled/></td>
         </tr>
     </table>

    {% endif %}

</div>
<input type="button" class="ConfigButton" id="button_user_config1"  value="Edit" info-state="disable">
<input type="submit" id="button_submit_1" name="button_submit_1" value="Save"/>

<h1>Scenario Delete Script</h1>

<div id="div_user_config2">

    {% if delete_script %}

    <a href="{{ MEDIA_URL}}{{delete_script.script_file}}">Delete Scenario Script</a>

    {% else %}


    <table>
         <tr>
             <th><label for="id_script_name2">Script name:</label></th>
             <td><input id="id_script_name2" type="text" name="script_name" value="{{delete_script.script_name}}" maxlength="50" disabled/></td>
             <th><label for="id_script_file2">Script file:</label></th><td><input type="text" name="script_file" id="id_script_file2" value="{{delete_script.script_path}}" disabled/></td>
         </tr>
     </table>

    {% endif %}

</div>
<input type="button" class="ConfigButton" id="button_user_config2"  value="Edit" info-state="disable">
<input type="submit" id="button_submit_2" name="button_submit_2" value="Save"/>


</form -->

    <P class="ieTitle4">Ingestion log file &nbsp;  &nbsp;
    <script>
    maxll = get_cookie("nloglines");
    if (maxll != "") { max_log_lines = maxll; }
    document.write('lines: <input style="border-style:none; background-color:#9fcfcf; font-size:12; margin: 0 0 4px"  id="input_n_lines" type="text" size=5 name="n_lines" value=' +
                   max_log_lines + '>');
    </script>
</P>
<div id="div_logging"></div>


{% endblock %}
