{% extends "base.html" %}
{% load staticfiles %}
{% load dajaxice_templatetags %}

{% block head %}	
{% dajaxice_js_import 'nocsrf' %}

    <script src = "{% static 'js/iescripts.js' %}">
    </script>

	<script>
    var show_extras = 0;

    var input_status = "{{status}}";
    if (status !== "") { alert(""+status) }

    var eoids = new Array();
    {% for eoid in eoids_in %}
       eoids.push(new Array(
           "{{ eoid.eoid_val }}",
           "{{ eoid.selected }}" === "True" ? true : false ));
    {% endfor %}

    var extras = new Array();
        {% for e in extras_in %}
            extras.push (new Array(
                '{{ e.xpath }}', '{{ e.text }}'
            ));
    	{% endfor %}

    window.onload=function(){
        write_eoids();
        write_extras_lines();
    };
    </script>

    <style>
        .button,.SubmitButton
        {
          width: 3cm; 
          height: 0.74cm; 
          font-family: 'Arial', sans-serif; 
          font-size: 12pt;
        }
    </style>

{% endblock %}


{% block title %}
<P class="ieTitle3">Scenario Editor</P>
{% endblock %}


{% block content %}

    {% include "editForm.html" %}

{% endblock %}
