<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
{% load staticfiles %}

<head>
{% block head %}	
    <link rel="stylesheet" type="text/css" href={% static "css/iestyle.css" %} />
    <script src = "{% static 'js/jquery.js' %}">
	</script>
    <script src = "{% static 'js/iescripts.js' %}">
    </script>

	<script>
    var show_extras = 0;

    var input_status = "{{status}}";
    if (status !== "") { alert(""+status) }

    var eoids = 
        {% for eoid in eoid_in %}
        "{{ eoid.eoid_val }}," + 
    	{% endfor %}
        '' ;
    eoids = eoids.slice(0, -1);

    var extras = new Array();
        {% for e in extras_in %}
            extras.push (new Array(
                '{{ e.xpath }}', '{{ e.text }}'
            ));
    	{% endfor %}

    window.onload=function(){
        write_extras_lines()
    };
	</script>
	
    <style>
        .button,.SubmitButton
        {
          width: 3cm; 
          height: 0.74cm; 
          font-family: 'Arial', sans-serif; 
          font-size: 12pt;
        }
    </style>

{% endblock %}

</head>
<body>

{% block title %}
<P class="ieTitle3">Ingestion Admin Scenario Editor</P>
{% endblock %}

{% block content %}

    {% include "editForm.html" %}

    <p>To cancel please close the browser window.</p>

{% endblock %}
</body>
</html>
