{% extends "base.html" %}
{% load staticfiles %}
{% load dajaxice_templatetags %}

{% block head %}

    {% if jqueryui_offlineurl %}
      <link rel="stylesheet"
      href="{{jqueryui_offlineurl}}css/smoothness/jquery-ui.css" />
    {% else %}
      <link rel="stylesheet"
      href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    {% endif %}

{% dajaxice_js_import 'nocsrf' %}

 <script src = "{% static 'js/iescripts.js' %}"></script>

<script>
    // !!! do not import another jquery to support jquery-ui !!!

    // globals
    jscenarios = []; // global array of scenarios
    first_time = 1; // global parameter

    //  the globals operation_pending and was_active is used to determine if
    //  sync_scenarios should be called periodically
    operation_pending = false;
    was_active = false;


    $(document).ready(function() {

        if (first_time==1) {
             sync_scenarios();
             first_time = 0;
        }

        window.setInterval(
            function(){
                var active = false
                for (var i=0; i<jscenarios.length; i++) {
                    // Continuous updates while done is not zero.
                    if (jscenarios[i].st_done > 0) {
                        active = true;
                        was_active = true;
                    }
                }
                if (active || operation_pending) {
                    sync_scenarios();
                }
                // Reset pending flag when activity stops
                if (!active && was_active) {
                        operation_pending = false;
                        was_active = false;
                }
            },
            1250); // every so often, in milliseconds
        });

    function localtest1(){
    }

</script>
 

<style>
    .button
    {
        width: 3cm; 
        height: 0.74cm; 
        font-family: 'Arial', sans-serif; 
        font-size: 12pt;
    }
</style>

{% endblock %}

{% block title %}
<P class="ieTitle3" >Scenario Overview</P>
{% endblock %}
{% block content %}

<!--for debugging 
<INPUT TYPE=BUTTON class="button" name="Button" VALUE="TEST1" title="for debugging"
  onClick="localtest1()" -->
<!--  onClick="Dajaxice.ingestion.test1(update_scenario)" -->
<!--        onClick="Dajaxice.ingestion.synchronize_scenarios(update_scenario)" -->
<!-- INPUT TYPE=BUTTON class="button" name="Button" VALUE="TEST2"
       onClick="update_oveview_page()" -->

<p>
<INPUT TYPE=BUTTON class="button"
    name="AddScenarioButton"
    VALUE="Add Scenario"
    onclick="goToLocation('scenario/add/')">
<br>
</p>


{% for scenario in scenarios %}
<div id="div_scenario_{{scenario.ncn_id}}">
<TABLE WIDTH=100% CELLPADDING=0 CELLSPACING=0 >
    <TR BGCOLOR="#bbd5a9">
      <TD WIDTH=24px ></TD>
      <TD WIDTH=19% >
             <INPUT TYPE="BUTTON" class="IngestButton"
               id="ingest_scenario_button_{{scenario.ncn_id}}"
               name="IngestButton" title="Ingest"
               onClick="run_ingestion('{{scenario.ncn_id}}')"/>
             <INPUT TYPE="BUTTON" class="LocalIngestButton"
               id="ingest_local_product_button_{{scenario.ncn_id}}"
               name="LocalIngestButton" title="Ingest a product from local file."
               onClick="goToLocation('ingest/addLocal/{{scenario.ncn_id}}')"/>
             <INPUT TYPE="BUTTON" class="EditButton"
              id="edit_scenario_button_{{scenario.ncn_id}}"
              name="EditScenarioButton" title="Edit ..."
              onClick="goToLocation('scenario/edit/{{scenario.ncn_id}}')"/>
             <INPUT TYPE="BUTTON" class="DeleteButton"
              id="delete_scenario_button_{{scenario.ncn_id}}"
              title="Delete"
              onClick="run_delete('{{scenario.ncn_id}}')"
              />
      </TD>
      <TD WIDTH=10% class="ieScTblHdrCell" title="Unique Id">{{scenario.ncn_id}}</TD>
      <TD colspan = 2 class="ieScTblHdrCell" title="Name"> &nbsp; {{scenario.scenario_name}}</TD>
    </TR>
    <TR BGCOLOR="#ddefcb">
       <TD ></TD>
       <TD colspan=4 class="ieDescCell" title="Description">{{scenario.scenario_description}}</TD>
    </TR>
    <TR >
      <TD ></TD>
      <TD>  <div id="div_status_{{scenario.ncn_id}}">  </div> </TD>
      <TD>
        <INPUT title="Stop" class="StopButton"
        id="stop_button_{{scenario.id}}"
        OnClick="stop_ingestion({{scenario.id}})">
      </TD>
      <TD> <div id="pro_container__{{scenario.ncn_id}}"
                    style="width:100%; height:10px; border:1px solid black; vertical-align:middle; padding:0" >
               <div id="progress_bar_{{scenario.ncn_id}}" 
                    style="width:20%; height:10px; border:none; background-color:#6666dd; vertical-align:sub; padding:0" >
               </div>
               </div>
      </TD>
    </TR>
</TABLE>
<P></P>
</div>
{% endfor %}

<p>
<br>
<INPUT TYPE=BUTTON class="button"
    name="AddScenarioButton"
    VALUE="Add Scenario"
    onclick="goToLocation('scenario/add/')">
</p>

{% endblock %}
