<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<style>
	
	</style>
</head>


<body>

<h1> SCENARIO SAVE SUCCESSFULLY </h1>

{% if form.is_valid %}
<h2> Scenario is saved </h2>
	<table>
    	{{ form.as_table }}
	</table>

	<table>	
	{% for script in scripts %}
		<tr>
			<td>{{ script.id }}</td>
			<td>{{ script.script_name }}</td>
			<td>{{ script.script_path }}</td>
		</tr>
	{% endfor %}
	</table>
	
{% else %}
	<h2> Scenario is not saved </h2>
	<table>
    	{{ form.as_table }}
	</table>
{% endif %}

</body>
</html>